body{
     font-family: sans-serif;
     font-size:110%;
     background-color: #FCF7F8;
}

header {
     text-align: center;
    -webkit-text-fill-color: #FCF7F8;
     background-color: #181122;
}
#sidebar {
    background-color: #343330;
    width: 30%  ;
    
}
footer {
     background-color: #343330;
     text-align: center;
}
