body{
     font-family: sans-serif;
     font-size:110%;
     background-color: #FCF7F8;
}

header {
     text-align: center;
    -webkit-text-fill-color: #FCF7F8;
     background-color: #181122;
}

#profile_picture {
     width: 150px;
}

#sidebar {
    background-color: #343330;
    width: 30%  ;
    
}

#menu { 
     color: white;
}

.nav-menu {
     list-style: none;
     
}

a:link {
     color: blue;
}

a:visited {
     color: blue;
}

#linkedin_icon { 
     width: 40px;
}

#facebook_icon { 
     width: 40px;
}

#gmail_icon { 
     width: 40px;
}

footer {
     background-color: #181122;
     text-align: center;
     -webkit-text-fill-color: white;
}
