body{
     font-family:serif,sans-serif;
     font-size:110%;
     background-color: #e8eef2;
}



header {
     text-align: center;
    -webkit-text-fill-color: #FCF7F8;
     background-color: #36494e;
}

#profile_picture {
     width: 150px;
}

#sidebar {
    background-color: #7ea0b7;
    width: 30%  ;
    
}

#menu { 
     -webkit-text-fill-color:white ;
}

.nav-menu {
     list-style: none;
     
}

a:link {
     color: blue;
}

a:visited {
     color: blue;
}

#linkedin_icon { 
     width: 40px;
}

#facebook_icon { 
     width: 40px;
}

#gmail_icon { 
     width: 40px;
}

footer {
     background-color: #36494e;
     text-align: center;
     -webkit-text-fill-color: white;
}
